/*!
 * Game Shop Theme
 */

body {
  background-color: #f4f4f4;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
a:focus,.btn:focus{
  outline:none;
}

/*Header*/
header {
  background: #fff;
  margin: 0 auto;
  padding-bottom: 11px;
}
header #logo img{
  height: 50px;
}
@font-face {
  font-family: 'LogoFont';
  src: url('../fonts/spyagencycondital.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
#sitename {
  font-family: 'LogoFont', Fallback, sans-serif;
  height: 70px;
}

#sitename a {
  color: #000;
  text-decoration: none;
}

#sitename #name {
  font-size: 2em;
}
#sitename a span.red {
   color: #fd4f08;
}
.vertical-center {
  display: flex;
  align-items: center;
  height: 100%;
}

/*Footer*/
footer {
  background: #000;
  color: #fff;
  font-size: 1.2em;
  padding: 0.5em 0;
  font-weight: 300;
}

/*Navbar*/
.navbar.gs-navbar{
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background: #333;
}
.navbar-nav.gs-navbar-nav > li > a {
  color: #ccc;
  padding: 0.95em 1.25em 0.6em;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: inherit;
  border-bottom: 5px solid transparent;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
   -ms-transition: opacity .5s;
   -o-transition: opacity .5s;
  transition: opacity .5s;
}
.navbar-nav.gs-navbar-nav > li > a:hover{
  border-bottom: 5px solid #fd4f08;
  opacity: .5;
}
.navbar-nav.gs-navbar-nav > li > a.active{
  border-bottom: 5px solid #fd4f08;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.gs-navbar .navbar-nav > li > a > span {
  margin-right: 10px;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/*Carousel*/
.gs-carousel .carousel-inner {
  background: #ccc;
}
.gs-carousel .carousel-control,
.gs-carousel .carousel-control:hover, 
.gs-carousel .carousel-control:focus{
  opacity: 1;
  background-image: none;
}
.gs-carousel .icon-prev, 
.gs-carousel .icon-next, 
.gs-carousel .glyphicon-chevron-left, 
.gs-carousel .glyphicon-chevron-right {
  color: black;
  background-image: none;
}
.gs-carousel .carousel-indicators li{
  border: 3px solid black;
  width: 20px;
  height: 20px;
}
.gs-carousel .carousel-indicators li.active{
  border: 3px solid black;
  background-color:#fd4f08;
  margin:1px;
}

/*Aside*/
#sidebar .nav-pills > li > a {
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  color: #ccc;
  text-align: right;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
   -ms-transition: color .5s;
   -o-transition: color .5s;
  transition: color .5s;
}
#sidebar .nav-pills > li > a:hover{
  background-color: transparent;
  color: #fd4f08;
}
#sidebar .nav-pills > li > a.active{
  background-color: #fd4f08;
  color: #ffffff;
}

/*Icons*/
h2.title .icon{margin-right: 10px; color: #fc7739;}  
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-32 { font-size: 32px; }
.size-48 { font-size: 48px; }
.size-64 { font-size: 64px; }
.size-96 { font-size: 96px; }

/*Content*/
.section-container {
  background: #444;
  padding:30px 0;
}
#content{
  border-left: 1px solid #666;
  padding-left:0;
}
#content h2 {
  color: #fff;
  margin: 0 0 30px;
  font-weight: 300;
  padding: 3px 3px 10px 20px;
  border-bottom: 3px solid #666666;
}
#content p {
  color: #eee;
  margin: 0 0 10px 20px;
}
ul#lo-mas-vendido{
  margin-bottom: 3em;
  padding-left: 25px;
}
ul#recomendados, ul#nuestros-productos{
  padding-left: 25px;
}
ul#lo-mas-vendido > li, ul#recomendados > li , ul.product-list > li{
  padding: 0 20px 20px 0;
  position:relative;
}
ul#lo-mas-vendido > li a,
ul#recomendados > li a,
ul.product-list > li a,
ul#lo-mas-vendido > li a:hover,
ul#recomendados > li a:hover,
ul.product-list > li a:hover{
  display:block;
  position: relative;
}
ul#lo-mas-vendido > li .item-hover, 
ul#recomendados > li .item-hover,
ul.product-list > li .item-hover{
  position: absolute;
  width: 200px;
  height: 230px;
  opacity: 0;
  padding: 7em 3em;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  
  -webkit-backface-visibility: hidden;
}
ul#lo-mas-vendido > li:hover .item-hover, 
ul#recomendados > li:hover .item-hover, 
ul.product-list > li:hover .item-hover{
  background: #000;
    -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
#content > ul > li.mas-vendidos > a > i ,
#content > ul > li.recomendados > a > i,
#content #detail-content-img > i{
  background: #fff;
  bottom: 0;
  color: #fd4f08;
  display: block;
  font-size: 2em;
  left: 0;
  text-align: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
#detail-content-wrapper{
  background: #eee;
  padding: 1.5em;
}
#detail-content{
  background: #dddddd;
  margin-bottom: 2em;
}
#detail-content-img{
  display:inline-block;
  float:left;
  position: relative;
}
#detail-content-text{
  margin-top: 1em;
}
#detail-content-text h2{
  border-bottom: 3px solid #cccccc;
  color:#333333; 
  margin: 0 0 20px;
}
#detail-content-text i {
  color: #333;
}
#detail-gallery{
  margin-bottom: 1.5em;
}
#detail-description h4{
  color:#333333;
  margin: 0 0 20px;
}
#detail-description p{
  color: #333;
  margin: 10px 0;
}
.badge {
  background-color: #eee;
  border-radius: 5px;
  color: #fd4f08;
  font-size: 12px;
  padding: 5px 10px;
}
#detail-content-social{
  margin-top: 20px;
}
.btn-primary{
  background-image: none;
  background-color: #fd4f08;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  text-shadow: none;
}
.btn-primary:hover{
  background-color: #fd4f08;
  border: 2px solid #fff;
}
.btn-primary:active, .btn-primary.active,.btn-primary:focus{
  background-color: #ffffff;
  border: 2px solid #fff;
  color: #fd4f08;
} 
.angular-google-map-container { 
  height: 30em; 
  margin-left: 20px;
}

/*Contact Form*/
#form-container {
  background: #fc7739;
}
#form-container label {
  color:#fff;
  font-size: 23px;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 0;
}
#form-container input{
  height: 40px;
}
#form-container input,
#form-container textarea{
  border: none;
  border: 2px solid #ffffff;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
   -ms-transition: border-color .5s;
   -o-transition: border-color .5s;
  transition: border-color .5s;
  box-shadow:none;  
}
#form-container input:focus,
#form-container textarea:focus{
  border: 2px solid #000;
}
#form-container .form-control {
  margin-bottom: 10px;
}
#form-container .btn-primary {
  border-radius: 4px;
  background-image: none;
  border: 2px solid #fff;
  background-color: transparent;
  text-shadow: none;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
   -ms-transition: background-color .5s;
   -o-transition: background-color .5s;
  transition: background-color .5s;
}
#form-container .btn-primary:hover {
  background-color: #000;
  border: 2px solid #fff;
}
#form-container .btn-primary:focus,
#form-container .btn-primary:active {
  background-color: #000;
  border: 2px solid #fff;
}

/*Social*/
#social-container{
  font-size: 1.8em;
  text-align: center;
  background: url("../img/mario.png") no-repeat #333;
  background-size: 10%;
  background-position:50% 30%;
    -webkit-transition:background-position .5s ease-in;  
    -moz-transition:background-position .5s ease-in;  
    -o-transition:background-position .5s ease-in;  
    transition:background-position .5s ease-in; 
}
#social-container:hover{
  background-position:50% 10%;
}
#social-container a {
  background: #3B5998;
  border-radius: 4px;
  color: #fff;
  display: block;
  margin-top: 35%;
  padding: 13px 0px;
  text-decoration: none;
  border: 2px solid #3B5998;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
   -ms-transition: border-color .5s;
   -o-transition: border-color .5s;
  transition: border-color .5s;
}
#social-container a:hover {
  border: 2px solid #000;
  padding: 13px 0;
}
@media (max-width: 1199px){
  #social-container a {
  margin-top: 19%;
  }
}
@media (max-width: 992px){
  #social-container a {
  margin-top: 17%;
  }
}
@media (max-width: 768px){
  #social-container a {
  margin-top: 17%;
  }
}