<div ng-controller="CarouselController as carouselCtrl" id="carousel-example-generic" class="carousel slide gs-carousel clearfix" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li ng-repeat="slide in slides" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{'active': $first}"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div ng-repeat="slide in slides" ng-class="{'item active': $first, 'item': !$first}">
		  <a href="{{slide.link}}" ><img ng-src="{{slide.image}}" alt="..."></a>
		  <div class="carousel-caption">
			<h2>{{slide.title}}</h2>
		  </div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div><!--/carousel-->
<div class="row section-container clearfix" id="content-container">
	<div class="container">

		<category-menu></category-menu>

		<div ng-controller="IndexController as indexCtrl" class="col-xs-12 col-sm-12 col-md-10 col-lg-10" id="content">
			<h2 class="title"><span class="icon-size size-28"><i class="icon ion-android-star-outline"></i></span>Los más vendidos</h2>
			<ul id="lo-mas-vendido" class="list-inline clearfix">
				<li  ng-repeat="bestSeller in bestSellers" class=""><a ui-sref="productos.productos.categoria.producto({category: '{{bestSeller.productcategory | lowerNoSpaces}}', productUrl: '{{bestSeller.path.substring(1)}}'})"><img ng-src="{{bestSeller.image}}" /></a>
					<div class="item-hover text-center">
						<a ui-sref="productos.productos.categoria.producto({category: '{{bestSeller.productcategory | lowerNoSpaces}}', productUrl: '{{bestSeller.path.substring(1)}}'})" class="btn btn-primary btn-sm">Ver más</a>
					</div>
				</li>
			</ul>
			<h2 class="title"><span class="icon-size size-28"><i class="icon ion-android-happy"></i></span>Recomendados para vos</h2>
			<ul id="recomendados" class="list-inline clearfix">
				<li ng-repeat="recommended in recommendations" ><a ui-sref="productos.productos.categoria.producto({category: '{{recommended.productcategory | lowerNoSpaces}}', productUrl: '{{recommended.path.substring(1)}}'})"><img ng-src="{{recommended.image}}" /></a>
					<div class="item-hover text-center">
						<a ui-sref="productos.productos.categoria.producto({category: '{{recommended.productcategory | lowerNoSpaces}}', productUrl: '{{recommended.path.substring(1)}}'})" class="btn btn-primary btn-sm">Ver más</a>
					</div>
				</li>
			</ul>
		</div> <!--/content-->
	</div>
</div> <!--/content-container-->